@model gellmvc.Models.StoreListViewModel
@using gellmvc.Domain.Entities

<div class="row">
  <div class="col-xs-12">
    <div class="centeredProducts">

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h3>
              Available Products:
            </h3>
          </div>
        </div>
      </div>

      @* Search Products *@
      <div class="row">
        <div class="col-sm-12" id="product-search-div">
          <div class="input-group product-search-group">
            <!-- Search input-->
            <input type="search" class="form-control product-search-control" id="product-search-input" name="product-search-input" value="@Model.SearchString" />
            <!-- Search button -->
            <span class="input-group-btn">
              <a href="@Url.Action("Search", "Store", new { @searchString = ""})" id="product-search-button" class="btn btn-default product-search-control" name="product-search-button" type="button">
                <span class="glyphicon glyphicon-search"></span>
                Search
              </a>
            </span>
          </div>
        </div>
      </div>

      @* Pagination top *@
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            @Html.Partial("~/Views/Partials/Shopping/_Pager.cshtml")
          </div>
        </div>
      </div>

      <hr class="narrow-hr short-hr-margin" />

      @* Products *@
      <form role="form">
        @foreach (ProductLine line in Model.ProductLines)
        {
          @Html.Partial("~/Views/Partials/Shopping/Store/_ProductLine.cshtml", line)
        }
      </form>

      @* Pagination bottom *@
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            @Html.Partial("~/Views/Partials/Shopping/_Pager.cshtml")
          </div>
        </div>
      </div>

      @* Go to cart button*@
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            @Html.ActionLink("Go to Cart",
                "Index", // method
                "Cart",  // controller
                null,    // route arguments
                new { @class = "btn btn-default go-next-btn" } // html arguments
            )
          </div>
        </div>
      </div>

      <div class="row" style="height:200px;">
      </div>

    </div>
  </div>
</div>
