@model asp_net_mvc.Models.ShoppingViewModels.StoreViewModel

<div class="row">
    <div class="col-xs-12">
        <div class="centeredProducts">

            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <h3>
                            Available Products:
                        </h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" id="product-search-div">
                    <div class="input-group product-search-group">
                        @* Search input *@
                        @Html.TextBox("product-search-input", "", new { @class = "form-control product-search-control" })

                        @* Search button *@
                        <span class="input-group-btn">
                            <a class="btn btn-default product-search-control" href="@Url.Action("store", "search", new { @searchString = "blah"})" name="product-search-button" type="button">
                                <span class="glyphicon glyphicon-search"></span> 
                                Search
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Pagination TOP -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        Page: @Model.CurrentPage of @Model.MaxPage
                    </div>
                </div>
            </div>
            <hr class="narrow-hr short-hr-margin" />

            <!-- TODO: use an actual MVC5 form. -->
            <form role="form">
                @foreach (var product in Model.Order.Products)
                {
                    @Html.Partial("~/Views/Partials/Shopping/_ForSaleProductLine.cshtml", @product)
                }
            </form>

            <!-- Pagination BOTTOM -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        Page: @Model.CurrentPage of @Model.MaxPage
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        @Html.ActionLink("Go to Cart",
                            "Index", // method
                            "Cart",  // controller
                            null,    // route arguments
                            new { @class = "btn btn-default go-next-btn" } // html arguments
                        )
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>